*
    box-sizing: border-box
html
    scroll-behavior: smooth
body
    font-family: "Mulish", sans-serif
    background-color: $bg

.container
    width: 1110px
    margin: 0 auto
.invalid
    color: red
