*
    box-sizing: border-box
html
    scroll-behavior: smooth
body
    font-family: "Mulish", sans-serif
    background-color: $bg

.container
    width: 1110px
    margin: 0 auto
.invalid
    color: #ff0000
.modal-error
    &_name
        position: absolute
        left: 0
        top: 96%
        z-index: 102
    &_phone
        position: absolute
        left: 0
        top: 96%
        z-index: 102
    &_email
        position: absolute
        left: 0
        top: 96%
        z-index: 102
.newsletter-error
    &_email
        position: absolute
        top: 100%
.footer-error
    &_name
        position: absolute
        left: 0
        top: 100%
    &_phone
        position: absolute
        left: 0
        top: 100%
