.navbar
    background-color: $color-w   
    &-top 
        display: flex
        justify-content: space-between
        align-items: center
        padding: 40px 0
        .logo
            width: 177px
            &__image
                max-width: 100%
        .search 
            display: flex
            position: relative
            border-radius: 6px
            overflow: hidden
            height: 41px
            margin-left: 10%
            margin-right: auto
            &__input 
                width: 350px
                padding: 0 75px 0 23px
                font-size: 12px
                line-height: 15px
                border: none
                background-color: #f5fafe
                color: $text-color
            &__button 
                position: absolute
                width: 65px
                height: 100%
                top: 0
                right: 0
                background-color: $primary
                border: 0
                cursor: pointer
            &__icon
                width: 16px
                height: 16px
                fill: $color-w
        .user 
            display: flex
            align-items: center
            font-size: 14px
            line-height: 18px
            text-decoration: none
            color: $text-color
            &__avatar 
                width: 40px
                height: 40px
                object-fit: cover
                border-radius: 50%
            &__name
                margin-left: 18px
            &:hover
                text-decoration: underline
        &__menu-button
            display: none
    &-bottom
        background-color: #0A223D
    &-menu
        padding: 31px 0
        &__list
            display: flex
            justify-content: space-between
            margin: 0
            padding: 0
        &__item
            list-style: none
        &__link
            font-weight: 700
            font-size: 14px
            line-height: 18px
            text-transform: uppercase
            color: $color-w
            text-decoration: none
            &:hover
                text-decoration: underline
        &__search, &__user
            &_mobile
                &_hidden
                    display: none
